body {
  background-color: black;
  color: white;
  font-family: Georgia
}

#main-content {
  width: 80%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#pokemon-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#view-selector {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;

  button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: gray;
      color: white;
    }
  }
}

#gallery-card {
  background-color: #f0f0f0;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, scale 0.3s;

  &:hover {
      background-color: gray;
      color: white;
      scale: 1.05;
    }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
  }
}

#gallery-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;

  button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: gray;
      color: white;
    }
  }
}

#detail-content {
  background-color: #f0f0f0;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: auto;

  img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 0;
    font-size: 24px;
    text-transform: capitalize;
  }

  p {
    font-size: 16px;
    margin: 5px 0;
  }
}

#left-arrow,
#right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  color: black;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  text-decoration: none;
  transition: background 0.15s, box-shadow 0.15s;
  z-index: 2;
  border: none;
}
#left-arrow {
  left: 50px;
}
#right-arrow {
  right: 50px;
}

#pokemon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

#gallery-card-link, #list-card-link {
  text-decoration: none;
}

#list-card {
  background-color: #f0f0f0;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, scale 0.3s;

  &:hover {
      background-color: gray;
      color: white;
      scale: 1.02;
    }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
  }
}

#search-bar {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
}

#sort-dropdown {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
}